/* custom google plus style theme */
/* @import url(http://fonts.googleapis.com/css?family=Roboto:400); */

@import url(../fonts/roboto-regular/roboto-regular.css);

body {
  background-color:#e0e0e0;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}
.navbar-default {background-color:#f4f4f4;margin-top:50px;border-width:0;z-index:5;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {border:0 solid #4285f4;border-bottom-width:2px;font-weight:800;background-color:transparent;}
.navbar-default .dropdown-menu {background-color:#ffffff;}
.navbar-default .dropdown-menu li > a {padding-left:30px;}

.header {background-color:#ffffff;border-width:0;}
.header .navbar-collapse {background-color:#ffffff;}
.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff,border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}
.header .navbar-form {
  max-width: 40%;
}
hr {border-color:#ececec;}
button {
	outline: 0;
}
textarea {
  resize: none;
  outline: 0;
  
}
.container {
  width: 100%;
}
.panel .btn i,.btn span{
  color:#666666;
}
.panel .panel-heading {
  background-color:#ffffff;
  font-weight:700;
  font-size:16px;
  color:#262626;
  border-color:#ffffff;
}
.panel .panel-heading a {
  font-weight:400;
  font-size:12px;
}
.panel .panel-default {
  border-color:#cccccc;
}
.panel .panel-thumbnail {
  padding:0;
}
.panel .img-circle {
  width:50px;
  height:50px;
}
.list-group-item:first-child,.list-group-item:last-child {
	border-radius:0;
}
h3,h4,h5 { 
  border:0 solid #efefef; 
  border-bottom-width:1px;
  padding-bottom:10px;
}

.modal-dialog {
 width: 450px;
}

.modal-footer {
 border-width:0;
}

.dropdown-menu {
   background-color:#f4f4f4;
   border-color:#f0f0f0;
   border-radius:0;
   margin-top:-1px;
}
/* end theme */

/* template layout*/
#subnav {
	position:fixed;
    width:100%;
    box-shadow: 2px 2px 2px 0px #CCC;
    border-radius: 0px;
}

@media (max-width: 768px) {
	#subnav {
	padding-top: 6px;
	}
}

#main {
	padding-top:120px;
}

.nothing-found {
  font-size: 100px;
  text-transform: uppercase;
  margin-top: 50px;
  font-weight: bold;
  color: #eee;
  text-shadow: 0px 0px 1px #999;
}

.navbar-student {
  margin-top: 0;
  z-index: 4;
}
.payment_total_amount, .discount_total_amount  {
  height: 25px;
}

.fixed_arrow {
    position: fixed;
    background: #CCC;
    padding: 10px 5px;
    z-index: 9999;
    border-radius: 10px;
    width: 100px;
    display: block;
    top: 50%;
    opacity:0.5;
    font-size: 20px
}
.fixed_arrow.previous {
  left: -70px;
  text-align: right;
}
.fixed_arrow.previous:hover {
  left: -50px;
  opacity:1;
}
.fixed_arrow.next {
  right: -70px;
  text-align: left;
}
.fixed_arrow.next:hover {
  right: -50px;
  opacity:1;
}
.navbar-student.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  border-radius: 0;
  top:50px;
  box-shadow: 2px 2px 2px 0px #CCC;
}
.loading-block-container .block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #CCC;
    opacity: 0.30;
}
.bold {
  font-weight: bold;
}
#sync_sync_container {
  width: 100%;
  height: 100%;
  z-index: 9997;
  background-color: #CCC;
  opacity: 0.40;
  position: absolute;
    top: 0;
}

#sync_sync_loader {
  z-index: 9998;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
}
#sync_sync_loader img {
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
  position: absolute;
}
body .ui-tooltip {
    background-color: #FFF;
    border-color: #000;
    box-shadow: 0px 0px 5px 2px #000;
}
.dashboard {
  list-style: none;
}
.dashboard .item {
  display: inline-block;
  width: 119px;
  height: 129px;
  text-overflow: hidden;
}

.dashboard .item:hover, .dashboard a.item:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}
.dashboard .item {
    color: #555;
}
.dashboard .item a {
  display: block;
  color: #000;
  }

.dashboard .item {
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.dashboard .item .glyphicon,
.dashboard .item .fa {
  font-size: 50px;
  margin-top: 10px;
  }
.dashboard .item .title {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

.dashboard.list-group > .list-group-item {
  width: 119px;
    height: 129px;
    text-align: center;
    float: left;
    margin:0 10px 10px 0;
}
.dashboard.list-group > .list-group-item .glyphicon,
.dashboard.list-group > .list-group-item .fa {
  font-size: 50px;
  margin-top: 10px;
  }
  .dashboard.list-group > .list-group-item .title {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  .list-group .list-group-item:hover {
    background: #f5f5f5;
  }